html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


@font-face {
    font-family: "Voice In My Head";
    src: url('font/Voice In My Head.otf');
}



body{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#backoff {
    z-index: 100;
}

.voice {
    font-family: "Voice In My Head";
    color: black;
}

#line {
    width: 100%; 
    height: 11.9%;
    background-color: #f54c17;
    position: absolute;
    z-index: 4;
    border-bottom: 4px solid black;
}

#txt-header {
    position: absolute;
    z-index: 53;
    width: 25%;
    margin-left:17%;
    margin-top: 14%;
    text-align: left;
    font-size: 27px;
    color: white;
    font-family: Roboto;
}

#txt-1{
    position: absolute;
    z-index: 54;
    width: 25%;
    margin-left: 10%;
    margin-top: 11%;
    text-align: left;
    font-size:100px;
    color: white;

}


#txt-2{
    position: absolute;
    z-index: 54;
    width: 25%;
    margin-left: 44%;
    margin-top: 26%;
    text-align: left;
    font-size:100px;
    color: white;

}

/*#f54c17*/

#trapezoid {
    /*    padding-top: 150px;*/
    top: 16px;
    margin-left: 10%;
    width: 15.4%;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 70px solid #f54c17 ;
    position: absolute;
    z-index: 8;
    margin-top: 70px
}

#trapezoid2 {
    top: 18px;
    margin-left: 9.78%;
    width: 15.8%;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 70px solid black ;
    position: absolute;
    z-index: 7;
    margin-top: 73px
}

#menu {
    display: flex;
    justify-content: space-between;
    width: 32%;
    float: right;
    margin-right: 7%;
    margin-top: 40px;
    font-size: 25px;
}

.container {

    width: 7%;
    height: 7%;
    background-color: rgba(255, 255, 255, .0);
    position: absolute;
    z-index: 2;
    margin-left: 30%;
}

.container2 {

    width: 7%;
    height: 7%;
    background-color: rgba(255, 255, 255, .0);
    position: absolute;
    z-index: 2;
    margin-left: 7%;
    margin-top: 12px;
}


.line1 {
    margin-left: 12%;
    left: -50%;
    width: 300%;
    height: 50%;
    background-color: #124678;
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
    -ms-transform: rotate(-45deg); /* IE 9 */
    transform: rotate(-45deg);
}

.line2 {
    margin-left: 27%;
    left: -50%;
    width: 300%;
    height: 50%;
    background-color: #124678;
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
    -ms-transform: rotate(-45deg); /* IE 9 */
    transform: rotate(-45deg);
}

.line3 {
    margin-left: 42%;
    left: -50%;
    width: 300%;
    height: 50%;
    background-color: #124678;
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
    -ms-transform: rotate(-45deg); /* IE 9 */
    transform: rotate(-45deg);
}

.line4 {
    margin-left: 57%;
    left: -50%;
    width: 300%;
    height: 50%;
    background-color: #124678;
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
    -ms-transform: rotate(-45deg); /* IE 9 */
    transform: rotate(-45deg);
}

.line5 {
    margin-left: 72%;
    left: -50%;
    width: 300%;
    height: 50%;
    background-color: #124678;
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
    -ms-transform: rotate(-45deg); /* IE 9 */
    transform: rotate(-45deg);
}

.line6 {
    margin-left: 87%;
    left: -50%;
    width: 300%;
    height: 50%;
    background-color: #124678;
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
    -ms-transform: rotate(-45deg); /* IE 9 */
    transform: rotate(-45deg);
}

.line7 {
    margin-left: 102%;
    left: -50%;
    width: 300%;
    height: 50%;
    background-color: #124678;
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
    -ms-transform: rotate(-45deg); /* IE 9 */
    transform: rotate(-45deg);
}

.line8 {
    margin-left: 117%;
    left: -50%;
    width: 300%;
    height: 50%;
    background-color: #124678;
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
    -ms-transform: rotate(-45deg); /* IE 9 */
    transform: rotate(-45deg);
}

.line9 {
    margin-left: 70%;
    left: -50%;
    width: 30%;
    height: 50%;
    background-color: #124678;
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
    -ms-transform: rotate(-45deg); /* IE 9 */
    transform: rotate(-45deg);
}

.line10 {
    margin-left: 212%;
    left: -50%;
    width: 30%;
    height: 50%;
    background-color: #124678;
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
    -ms-transform: rotate(-45deg); /* IE 9 */
    transform: rotate(-45deg);
}

.fit-picture {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 75%;
    margin-top: 5.95%;
    border-bottom: 5px solid black ;

}

.logo-adrien {
    margin-top: 3px;
    position: absolute;
    z-index: 10;
    width: 9.5%;
    height: 19.3%;
    margin-left: 16%;
}

.logo-adrien-back {
    margin-top: 3px;
    position: absolute;
    z-index: 12;
    width: 9.5%;
    height: 19.3%;
    margin-left: 16%;
}


#part1 {
    margin-top: 42.15%;
    height: 73.45%;
    width: 100%;
    position: absolute;
    z-index: 12;
    background-color: #d2d2d2;
    border-bottom: 4px solid black;
}

#txt-part1-left {
    position: absolute;
    z-index: 53;
    width: 25%;
    margin-right: 80%;
    margin-left: 10%;
    margin-top: 12%;
    text-align: right;
    font-size: 26px;
    font-family: Roboto;
}

#txt-part1-right {
    position: absolute;
    z-index: 53;
    width: 25%; 
    margin-right: 20%;
    margin-left: 66%;
    margin-top: 12%;
    text-align: left;
    font-size: 26px;
    font-family: Roboto;
}

.line-center {

    margin-left: 42%;
    width: 17.3%;
    height: 99.93%;
    background-color: #f54c17;
    position: absolute;
    z-index: 11;

}

.logo-adrien2 {
    margin-top: 2.8%;
    left: 20.25%;
    position: absolute;
    z-index: 11;
    width: 30.5%;
    height: 85%;
    margin-left: 15.2%;
}

/*/////////////////////////////////////////////////////////////////*/

@keyframes slidy {
    0% { left: 20%; }
    20% { left: 20%; }
    25% { left: -40%; }
    45% { left: -40%; }
    50% { left: -100%; }
    70% { left: -100%; }
    75% { left: -160%; }
    95% { left: -160%; }
    100% { right: 0%; }
}

#slider{
    position: absolute;
    z-index: 13;
    top: 1227px;
    border-bottom: 4px solid black;
    background-color: #f54c17;
}

div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
    position: relative;
    z-index: 20;
    width: 300%;
    height: 20%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 15s slidy infinite; 
}

#left {
    margin-left: 0%;
    width: 20%;
    height: 100%;
    background-color: #f54c17;
    opacity: 0.85;
    position: absolute;
    z-index: 22;
}

#right {
    margin-left: 80%;
    width: 20%;
    height: 100%;
    background-color: #f54c17;
    opacity: 0.90;
    position: absolute;
    z-index: 22;

}

/*/////////////////////////////////////////////////////////////////*/

#part3 {
    margin-top: 106%;
    height: 52.8%;
    width: 100%;
    position: absolute;
    z-index: 12;
    background-color: #d2d2d2;
    border-bottom: 4px solid black;
    display: flex;
    justify-content: space-around;
}

.logo {
    margin-top: 9%;
    border: 1px solid black;
    width: 8.6%;
    height: 33.8%;
    align-items: center;

}

.trans {
    width: 100%;
    height: 100%;
}

.modaba {
    margin: 10%;
    width: 80%;
    height: 80%;
}

.become {
    width: 100%;
    height: 100%;
}

.puiss {
    margin: 10%;
    width: 80%;
    height: 80%;
}

#part4 {
    margin-top: 131.5%;
    height: 80%;
    width: 100%;
    position: absolute;
    z-index: 12;
    background-color: #124678;
    border-bottom: 4px solid black;
    display: flex;
    justify-content: space-around;
}

/*/////////////////////////////////////////////////////////////////*/
/*51789e*/

#txt-form {
    position: absolute;
    z-index: 53;
    width: 25%;
    margin-left: 30%;
    margin-top: 4%;
    text-align: right;
    font-size: 140%;
    font-family: Roboto;
}


#form1 {
    width: 100%;
    font-family: Roboto;
}

.nom {
    background-color: #51789e;
    border: 2px solid black;
    border-radius: 10px;
    height: 8.5%;
    width: 25%;
    margin-left: 4%;
    margin-right: 75%;
    margin-top: 4%;

}

.nom::placeholder {
    color: black;
    padding-left: 4%;
    font-size: 20px;
    font-family: "Voice In My Head";
}

.email {
    background-color: #51789e;
    border: 2px solid black;
    border-radius: 10px;
    height: 8.5%;
    width: 25%;
    margin-left: 4%;
    margin-right: 75%;
    margin-top: 2.5%;
}
.email::placeholder {
    color: black;
    padding-left: 4%;
    font-size: 20px;
    font-family: "Voice In My Head";

}

.message {
    background-color: #51789e;
    border: 2px solid black;
    border-radius: 10px;
    height: 32%;
    width: 40%;
    margin-left: 4%;
    margin-right: 36%;
    margin-top: 2.5%;
}

.message::placeholder {
    color: black;
    padding-top: 3%;
    padding-left: 2%;
    font-size: 20px;
    font-family: "Voice In My Head";
}


#submit {
    background-color: #f54c17;
    border: none;
    color: black;
    padding: 1% 1.7%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0.4% 0.2%;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid black;
    font-family: "Voice In My Head";
}









/*/////////////////////////////////////////////////////////////////*/


#line-bas {
    margin-top: 166.48%;
    width: 100%; 
    height: 11.95%;
    background-color: #f54c17;
    position: absolute;
    z-index: 40;
    border-top: 4px solid black;
}


/*#f54c17*/

#trapezoid-bas {
    /*    padding-top: 150px;*/
    border-bottom: 70px solid #f54c17;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 15.4%;
    position: absolute;
    z-index: 48;
    margin-top: 162.6%;
    margin-left: 74.15%;
}

#trapezoid2-bas {
    border-bottom: 70px solid black;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 15.8%;
    position: absolute;
    z-index: 47;
    margin-top: 162.3%;
    margin-left: 73.9%;

}


.container-bas {
    width: 100px;
    height: 90px;
    background-color: rgba(255, 255, 255, .0);
    position: absolute;
    z-index: 42;
    margin-left: 0px;
}


.logo-adrien-bas {
    margin-top: 2580px;
    position: absolute;
    z-index: 50;
    width: 9.5%;
    height: 19.3%;
    margin-left: 1280px;
}

.line1-bas {
    margin-top: -9.8px;
    margin-left: 0px;
    left: -50%;
    width: 275%;
    height: 3px;
    background-color: #124678;
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
    -ms-transform: rotate(-45deg); /* IE 9 */
    transform: rotate(-45deg);
}

.line2-bas {
    margin-left: 20px;
    left: -50%;
    width: 265%;
    height: 3px;
    background-color: #124678;
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
    -ms-transform: rotate(-45deg); /* IE 9 */
    transform: rotate(-45deg);
}

.line3-bas {
    margin-left: 40px;
    left: -50%;
    width: 260%;
    height: 3px;
    background-color: #124678;
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
    -ms-transform: rotate(-45deg); /* IE 9 */
    transform: rotate(-45deg);
}

.line4-bas {
    margin-left: 60px;
    left: -50%;
    width: 250%;
    height: 3px;
    background-color: #124678;
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
    -ms-transform: rotate(-45deg); /* IE 9 */
    transform: rotate(-45deg);
}

.line5-bas {
    margin-left: 80px;
    left: -50%;
    width: 244%;
    height: 3px;
    background-color: #124678;
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
    -ms-transform: rotate(-45deg); /* IE 9 */
    transform: rotate(-45deg);
}

.line6-bas {
    margin-left: 100px;
    left: -50%;
    width: 235%;
    height: 3px;
    background-color: #124678;
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
    -ms-transform: rotate(-45deg); /* IE 9 */
    transform: rotate(-45deg);
}

.line7-bas {
    margin-left: 120px;
    left: -50%;
    width: 225%;
    height: 3px;
    background-color: #124678;
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
    -ms-transform: rotate(-45deg); /* IE 9 */
    transform: rotate(-45deg);
}

.line8-bas {
    margin-left: 140px;
    left: -50%;
    width: 218%;
    height: 3px;
    background-color: #124678;
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
    -ms-transform: rotate(-45deg); /* IE 9 */
    transform: rotate(-45deg);
}


@-moz-document url-prefix() {

    #line { 
        height: 11.6%;

    }

    #trapezoid {
        /*    padding-top: 150px;*/
        top: 31px;

    }

    #trapezoid2 {
        top: 32px;

    }

    #trapezoid-bas {
        margin-top: 163.2%;
        margin-left: 74.15%;
    }

    #trapezoid2-bas {
        margin-top: 163%;
        margin-left: 73.9%;

    }
}

@media screen and (max-width: 640px) {
    .line1-bas{
        display: none; 
    }
    .line2-bas{
        display: none; 
    }
    .line3-bas{
        display: none; 
    }
    .line4-bas{
        display: none; 
    }
    .line5-bas{
        display: none; 
    }
    .line6-bas{
        display: none; 
    }
    .line7-bas{
        display: none; 
    }
    .line8-bas{
        display: none; 
    }
    .line1{
        display: none; 
    }
    .line2{
        display: none; 
    }
    .line3{
        display: none; 
    }
    .line4{
        display: none; 
    }
    .line5{
        display: none; 
    }
    .line6{
        display: none; 
    }
    .line7{
        display: none; 
    }
    .line8{
        display: none; 
    } 
    #trapezoid {
        display: none; 

    }
    #trapezoid2 {
        display: none; 

    }
    body{
        height: 100%;
    }
    .logo-adrien {
        margin-top: 1px;
        position: absolute;
        z-index: 41;
        width: 9.5%;
        height: 3.7%;
        margin-left: 10%;
    }
    .logo-adrien-back {
        margin-top: 1px;
        position: absolute;
        z-index: 41;
        width: 9.5%;
        height: 3.7%;
        margin-left: 10%;
    }
    .fit-picture {
        position: absolute;
        z-index: 5;
        width: 100%;
        height: 16.53%;
        margin-top: 5.95%;
        border-bottom: 5px solid black ;
    }
    #line {
        height: 4%;
        z-index: 40;
        border-bottom: 1px solid black;
    }
    #txt-header {
        font-size: 8px;
        width: 40%;
        margin-left: 10%;
    }
    #txt-2 {
        font-size: 28px;
        width: 40%;
        margin-left: 47%;
        margin-top: 29%;
    }
    #txt-1{
        font-size: 28px;
        width: 40%;
        margin-left: 2%;
        margin-top: 9%;
    }
    #menu {
        display: flex;
        justify-content: space-between;
        width: 42%;
        float: right;
        margin-right: 7%;
        margin-top: 12px;
        font-size: 9px;
    }
    .line9 {
        position: absolute;
        z-index: 44;
        margin-top: -28%;
        margin-left: 193%;
        left: -50%;
        width: 50%;
        height: 60%;
        background-color: #124678;
        -webkit-transform: rotate(-45deg); /* Safari and Chrome */
        -ms-transform: rotate(-45deg); /* IE 9 */
        transform: rotate(-45deg);
    }
    .line10 {
        position: absolute;
        z-index: 44;
        margin-top: -28%;
        margin-left: 353%;
        left: -50%;
        width: 50%;
        height: 60%;
        background-color: #124678;
        -webkit-transform: rotate(-45deg); /* Safari and Chrome */
        -ms-transform: rotate(-45deg); /* IE 9 */
        transform: rotate(-45deg);
    }
    #txt-part1-left{ 
        position: absolute;
        z-index: 53;
        width: 30%; 
        margin-right: 50%;
        margin-left: 0%;
        margin-top: 12%;
        text-align: left;
        font-size: 10px;
        font-family: Roboto;
    }
    #txt-part1-right{
        position: absolute;
        z-index: 53;
        width: 30%; 
        margin-right: 0%;
        margin-left: 69.5%;
        margin-top: 12%;
        text-align: right;
        font-size: 10px;
        font-family: Roboto;
    }
    .logo-adrien2 {
        margin-top: 9%;
        left: 20.25%;
        position: absolute;
        z-index: 11;
        width: 42.5%;
        height: 70%;
        margin-left: 9.4%;
    }
    #part1 {
        height: 29.45%;
        width: 100%;
        position: absolute;
        z-index: 12;
        background-color: #d2d2d2;
        border-bottom: 4px solid black;
    }
    #slider{
        position: absolute;
        z-index: 13;
        top: 397.5px;
        border-bottom: 4px solid black;
        background-color: #f54c17;
    }
    #part3 {
        margin-top: 135.3%;
        height: 12.8%;
        width: 100%;
        position: absolute;
        z-index: 50;
    }
    .logo {
        margin-top: 6%;
        border: 1px solid black;
        width: 16.6%;
        height: 55.8%;

    }
    #part4 {
        margin-top: 163.3%;
        height: 35%;
        width: 100%;
        position: absolute;
        z-index: 52;
        background-color: #124678;
        border-bottom: 4px solid black;
        display: flex;
        justify-content: space-around;
    }
    #txt-form {
        display: none;
    }
    .nom {
        width: 70%;
    }
    .email {
        width: 70%;
    }
    .message {
        width: 90%;
        height: 50%;
    }
    #line-bas {
        margin-top: 239.48%;
        width: 100%; 
        height: 5%;
        background-color: #f54c17;
        position: absolute;
        z-index: 60;
        border-top: 0.5px solid black;
    }
    #trapezoid-bas {
        display: none; 
    }
    #trapezoid2-bas {
        display: none; 

    }
    .logo-adrien-bas {
        margin-top: 241%;
        position: absolute;
        z-index: 71;
        width: 9.5%;
        height: 3.7%;
        margin-left: 85%;
    }
}

